.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  font-family: futura-pt, sans-serif;
  color: #0b0b0b;
  text-decoration: none;
}

.hero-heading {
  max-width: 550px;
  margin-top: 10px;
  margin-bottom: 47px;
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 50px;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: 0px;
}

.summerfridaycircle {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-top: -23px;
  margin-right: -10px;
  margin-bottom: -20px;
}

.aboutfounderhero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/rectangle-1391x_1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.image-45 {
  width: 170px;
  height: 170px;
}

.aboutright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 83px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.abouttext {
  width: auto;
  max-width: 400px;
  margin-bottom: 22px;
  font-family: adobe-garamond-pro, sans-serif;
  color: #000;
  font-weight: 400;
}

.about-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eeebe8;
}

.sidetype {
  position: absolute;
  left: auto;
  top: 20px;
  right: 0%;
  bottom: 0px;
  margin-left: 146px;
}

.side90 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 300px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-perspective-origin: 0% 0%;
  perspective-origin: 0% 0%;
  -webkit-transform: perspective(5px) rotate(90deg);
  transform: perspective(5px) rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: adobe-garamond-pro, sans-serif;
  font-style: italic;
}

.abouthero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #000;
  background-color: #e6d6d1;
}

.grid-2 {
  position: relative;
  left: 30px;
  max-width: 460px;
  min-width: auto;
  -ms-grid-columns: 3.75fr 25px;
  grid-template-columns: 3.75fr 25px;
}

.image-44 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-313 {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 100%;
  min-height: 30px;
  min-width: 30px;
  margin-top: -12px;
  margin-right: -17px;
  -webkit-perspective-origin: 0% 0%;
  perspective-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.aboutimagecontainer {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 500px;
  min-height: 500px;
}

.aboutbrandimageright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 600px;
  min-width: 700px;
  margin: 40px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.sectionbrand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #000;
  background-color: #e8e3dc;
  background-image: url('../images/rectangle-1391x_1.png');
  background-position: 50% 50%;
  background-size: auto;
}

.about-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.abouttext-2 {
  width: auto;
  max-width: 400px;
  margin-bottom: 22px;
  padding-right: 40px;
  font-family: adobe-garamond-pro, sans-serif;
  color: #000;
  font-weight: 300;
}

.section-in-the-press {
  margin-right: auto;
  margin-left: auto;
  background-color: #ece9e6;
}

.div-block-316 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px none #000;
  background-color: #ece9e6;
}

.section.slider {
  border-bottom-style: solid;
}

.about-press-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 36px 36px 28px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px solid #000;
  background-color: #ece9e6;
}

.text-block {
  margin-bottom: 12px;
  font-family: futura-pt, sans-serif;
  color: #010101;
  font-size: 0.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block-2 {
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 22px;
}

.link-block {
  cursor: pointer;
}

.text-block-3 {
  margin-right: 13px;
  padding-right: 0px;
  padding-bottom: 7px;
  border-bottom: 1px solid #000;
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
}

.div-block-317 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.html-embed-2 {
  width: 100%;
  height: auto;
}

.about-shopvegan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
}

.about-shopvegan50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ece9e6;
}

.shopveganimage {
  overflow: hidden;
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main {
  overflow: hidden;
}

.image-49 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.futura-sm-caps {
  margin-bottom: 30px;
  font-family: futura-pt, sans-serif;
  font-size: 12px;
}

.text-block-4 {
  max-width: 400px;
  margin-bottom: 37px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: futura-pt, sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block-5 {
  margin-right: 19px;
  padding-bottom: 0px;
  border-bottom: 1px none #000;
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 20px;
  font-style: italic;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #000;
}

.div-block-318 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.section-footer {
  border-bottom: 1px solid #000;
  background-color: #c1d2db;
  background-image: url('../images/rectangle-1391x.png');
  background-position: 0px 0px;
  background-size: auto;
}

.footerlogo {
  padding-top: 43px;
  padding-bottom: 20px;
  text-align: center;
}

.marquee-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
}

.marquee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-width: auto;
  margin: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0px none transparent;
  border-radius: 0px;
  background-color: transparent;
}

.summerfridaysscroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: futura-pt, sans-serif;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blocks {
  width: 5px;
  height: 5px;
  margin-right: 0px;
  background-color: #0f0f0f;
}

.footer-stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-half-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-half {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-half.singleline {
  width: 1px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #0f0f0f;
}

.footer-grid {
  max-width: 550px;
  margin: 34px auto;
  padding: 26px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-header {
  margin-bottom: 15px;
  font-family: futura-pt, sans-serif;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footerlink {
  margin-bottom: 7px;
  font-family: adobe-garamond-pro, sans-serif;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footerarrow-submit {
  height: 58px;
  padding-left: 35px;
  border: 1px solid #000;
  background-color: transparent;
  background-image: url('../images/arrow.svg');
  background-position: 50% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.text-field {
  height: 58px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-color: #000;
  background-color: transparent;
}

.footeremail {
  max-width: 400px;
  min-width: 400px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.grid-4 {
  max-width: 140px;
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-social-box {
  width: 30px;
}

.footer-copyright {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.grid-5 {
  max-width: 450px;
  margin-left: 37px;
  -ms-grid-columns: 0.25fr 0.25fr 1fr;
  grid-template-columns: 0.25fr 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-copyright-link {
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 11px;
  text-align: left;
  text-decoration: underline;
}

.text-block-6 {
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 12px;
  text-align: left;
}

.footer-top-wrap {
  position: absolute;
  left: auto;
  top: -35px;
  right: 2%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-6 {
  max-width: 500px;
  grid-column-gap: 0px;
  grid-row-gap: 1px;
  -ms-grid-columns: 1fr 5.5fr;
  grid-template-columns: 1fr 5.5fr;
}

.image-50 {
  position: relative;
  margin-top: 0px;
}

.image-51 {
  position: relative;
  left: -6%;
  top: 179px;
  right: auto;
  bottom: 0%;
  margin-top: 74px;
}

.div-block-320 {
  position: absolute;
}

.div-block-321 {
  position: relative;
}

.link-block-4 {
  width: 60px;
  height: 60px;
  border-radius: 300px;
  background-color: #0f0f0f;
  background-image: url('../images/arrowuppaleblue.svg');
  background-position: 50% 50%;
  background-size: 37px;
  background-repeat: no-repeat;
}

.section-announcement {
  height: 40px;
  background-color: #c6ac96;
}

.announcement-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-7 {
  font-family: adobe-garamond-pro, sans-serif;
}

.link {
  margin-left: 16px;
  font-family: adobe-garamond-pro, sans-serif;
  text-decoration: underline;
}

.link-announcement {
  margin-left: 16px;
  font-family: adobe-garamond-pro, sans-serif;
  text-decoration: underline;
}

.section-nav {
  height: 64px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #ece9e6;
}

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-wrapper:hover {
  font-family: adobe-garamond-pro, sans-serif;
}

.link-2 {
  text-transform: uppercase;
}

.summernavlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 62px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: futura-pt, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.summernavlink:hover {
  border-bottom: 2px solid #000;
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 10px;
  font-style: italic;
  letter-spacing: 0px;
  text-transform: none;
}

.navlinktext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navlinkmain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  min-width: 80px;
  padding-right: 9px;
  padding-left: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  line-height: 100%;
  font-style: normal;
  text-transform: uppercase;
}

.navlinkmain:hover {
  border-bottom: 2px solid #000;
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: 0px;
  text-transform: none;
}

.navlinkmain.current {
  border-style: solid;
  border-width: 0px 0px 2px;
  border-color: #000;
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: 0px;
  text-transform: none;
}

.logo-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  min-width: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  margin-left: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navwidthgroup {
  display: block;
}

.navwidth_right {
  display: block;
}

.narrow {
  display: none;
}

.navbarwide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .hero-heading {
    max-width: none;
    font-size: 38px;
    line-height: 1.3;
  }

  .summerfridaycircle {
    right: -3%;
    bottom: 3%;
  }

  .aboutfounderhero {
    left: 0px;
    width: 100%;
  }

  .aboutright {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .abouttext {
    width: auto;
    max-width: none;
  }

  .about-right {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .side90 {
    top: 1%;
    right: -5%;
  }

  .abouthero {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-2 {
    max-width: 500px;
    min-width: 500px;
    -ms-grid-columns: 4.5fr 25px;
    grid-template-columns: 4.5fr 25px;
  }

  .div-block-313 {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: -22px;
    margin-right: -19px;
    margin-left: auto;
    -webkit-perspective-origin: 0% 0%;
    perspective-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .aboutimagecontainer {
    width: 100%;
    height: 699px;
    min-height: 699px;
  }

  .aboutbrandimageright {
    width: 80%;
    min-width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 35px;
  }

  .sectionbrand {
    padding-top: 46px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    border-bottom: 1px solid #000;
  }

  .about-brand {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .abouttext-2 {
    width: auto;
    max-width: none;
    padding-right: 0px;
  }

  .about-shopvegan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .about-shopvegan50 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .shopveganimage {
    width: 100%;
  }

  .main {
    overflow: hidden;
  }

  .text-block-4 {
    margin-bottom: 46px;
  }

  .card {
    min-width: auto;
  }

  .footer-stack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-half-block {
    padding-top: 23px;
    padding-bottom: 36px;
  }

  .grid-6 {
    -ms-grid-columns: 0.5fr 5.5fr;
    grid-template-columns: 0.5fr 5.5fr;
  }

  .image-50 {
    margin-top: 0px;
    padding-right: 23px;
  }

  .image-51 {
    top: 220px;
    margin-top: -37px;
  }

  .div-block-321 {
    padding-right: 40px;
  }

  .section-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-wrapper {
    display: block;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar {
    height: 64px;
    background-color: transparent;
    font-family: futura-pt, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .menu-button {
    left: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 64px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/bars.svg');
    background-position: 50% 50%;
    background-size: 35px;
    background-repeat: no-repeat;
  }

  .navwidthgroup {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navwidth_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 19px;
  }

  .narrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbarwide {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading {
    max-width: 350px;
    font-size: 38px;
    line-height: 1.3;
  }

  .summerfridaycircle {
    right: 2%;
    bottom: 9%;
  }

  .aboutfounderhero {
    padding: 40px 40px 40px 62px;
  }

  .image-45 {
    width: 100px;
    height: 100px;
  }

  .abouttext {
    max-width: 389px;
  }

  .side90 {
    position: relative;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    -webkit-transform: perspective(5px) rotate(90deg);
    transform: perspective(5px) rotate(90deg);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .grid-2 {
    left: 0px;
    max-width: 380px;
    min-width: 380px;
  }

  .div-block-313 {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    -webkit-perspective-origin: 0% 0%;
    perspective-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .aboutimagecontainer {
    height: 489px;
    min-height: 400px;
  }

  .aboutbrandimageright {
    height: auto;
    margin-left: auto;
    padding-left: 0px;
  }

  .sectionbrand {
    padding-top: 20px;
  }

  .about-brand {
    width: 80%;
  }

  .abouttext-2 {
    max-width: 389px;
  }

  .div-block-318 {
    margin-top: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .image-50 {
    padding-right: 0px;
  }

  .div-block-321 {
    padding-right: 0px;
  }

  .section-announcement {
    display: none;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .announcement-wrapper {
    height: auto;
    padding-top: 22px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block-7 {
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading {
    max-width: 280px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.3;
    text-align: left;
  }

  .summerfridaycircle {
    right: 5%;
    bottom: 9%;
  }

  .aboutfounderhero {
    padding: 10px;
  }

  .image-45 {
    width: 100px;
    height: 100px;
  }

  .aboutright {
    width: 100%;
    margin-top: 13px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .abouttext {
    font-size: 18px;
  }

  .side90 {
    top: 0%;
    right: 0%;
    margin-top: 5px;
    padding-top: 0px;
  }

  .grid-2 {
    width: 100%;
    max-width: none;
    min-width: auto;
    margin-top: 44px;
    margin-left: 0px;
  }

  .image-44 {
    max-width: 100%;
  }

  .div-block-313 {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .aboutimagecontainer {
    height: 330px;
    min-height: 330px;
  }

  .aboutbrandimageright {
    width: 95%;
    height: auto;
  }

  .sectionbrand {
    overflow: hidden;
  }

  .abouttext-2 {
    padding-right: 0px;
    font-size: 18px;
  }

  .about-press-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-column {
    width: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footeremail {
    max-width: 300px;
    min-width: auto;
  }

  .grid-5 {
    margin-top: 32px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-319 {
    margin-bottom: 73px;
  }

  .image-50 {
    margin-top: 0px;
  }

  .image-51 {
    left: -5%;
    top: 247px;
    padding-left: 6px;
  }

  .div-block-322 {
    margin-bottom: 50px;
  }

  .cart {
    margin-left: 0px;
  }

  .menu-button {
    background-size: 27px;
  }

  .navwidth_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
  }
}

#w-node-_6f1a2928-878b-04af-ff9e-257da7317a28-60c37914 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_5c540967-0261-cbe6-6a4b-6c64af39e35a-60c37914 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-d94a667b-1407-1fe6-cb4d-fc787c28c008-60c37914 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_3102bab9-3289-d5e6-dc9c-2e31bea79d38-60c37914 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_6f1a2928-878b-04af-ff9e-257da7317a28-79d87fb0 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_5c540967-0261-cbe6-6a4b-6c64af39e35a-79d87fb0 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-_9a1b6800-46de-7469-340c-a3b87afd6063-60c37914 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_6dde83d9-c632-e1c1-c12a-248444f42791-60c37914 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-d94a667b-1407-1fe6-cb4d-fc787c28c008-60c37914 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ece9adee-e7a0-518a-c1f9-8fa91c6edefe-60c37914 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-ece9adee-e7a0-518a-c1f9-8fa91c6edefe-79d87fb0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-ece9adee-e7a0-518a-c1f9-8fa91c6edefe-60c37914 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6f1a2928-878b-04af-ff9e-257da7317a28-60c37914 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5c540967-0261-cbe6-6a4b-6c64af39e35a-60c37914 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ece9adee-e7a0-518a-c1f9-8fa91c6edefe-79d87fb0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6f1a2928-878b-04af-ff9e-257da7317a28-79d87fb0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5c540967-0261-cbe6-6a4b-6c64af39e35a-79d87fb0 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

